
       {% load static %}
       <!-- footer -->
        <footer class="footer-bg footer-p pt-60" style="background-image: url(static/img/bg/f-bg.png); background-position: center top; background-size: auto;background-repeat: no-repeat;">            
  
          <div class="footer-top">
              <div class="container">
                  <div class="row justify-content-between">
                      <div class="col-xl-3 col-lg-3 col-sm-6">
                          <div class="footer-widget mb-30">
                              <div class="logo mt-15 mb-15">
                                  <a href="#"><img src="static/credit_footer.png" alt="logo"></a>
                              </div>
                              <div class="footer-text mb-20">
                                  <p>A simple lending plateform for providing loans to the MSME's.</p>
                              </div>
                              <div class="footer-social">
                                  <a href="#"><i class="fab fa-facebook-f"></i></a>
                                  <a href="#"><i class="fab fa-twitter"></i></a>
                                  <a href="#"><i class="fab fa-instagram"></i></a>
                                  <a href="#"><i class="fab fa-google-plus-g"></i></a>
                              </div>
                          </div>
                      </div>
          <div class="col-xl-2 col-lg-3 col-sm-6">
                          <div class="footer-widget mb-30">
                              <div class="f-widget-title">
                                  <h5>Quick Links </h5>
                              </div>
                              <div class="footer-link">
                                  <ul>                                        
                                      <li><a href="/#services">Services</a></li>
                                      <li><a href="/#calculator">Calculator</a></li>
                                      <li><a href="/#contact">Contact</a></li>
                                      <li><a href="/#testimonios">Reviews</a></li>
                                      <li><a href="/#about">About Us</a></li>                                      
                                  </ul>
                              </div>
                          </div>
                      </div>
                      <!-- <div class="col-xl-2 col-lg-3 col-sm-6">
                          <div class="footer-widget mb-30">
                              <div class="f-widget-title">
                                  <h5>Address </h5>
                              </div>
                              <div class="footer-link">
                                  <ul>
                                      <li><a href="#">Home</a></li>
                                      <li><a href="#">About Us</a></li>
                                      <li><a href="#">Services</a></li>
                                      <li><a href="#">Project</a></li>
                                      <li><a href="#">Our Team</a></li>                                       
                                  </ul>
                              </div>
                          </div>
                      </div>    -->
                      <div class="footer-widget">
                          <div class="f-widget-title">
                              <h5>Address </h5>
                          </div>
                          <p class="mt-3"><i class="fas fa-map-marker-alt"></i> Next CoWorks, BK Circle, 8th Phase, <br>
                          JP Nagar, Bengaluru, Karnataka<br>
                          +91-82 9988 6767<br>
                          info@inventics.tech</p>
                        </div>                     
                        <!-- <div class="f-widget-title">
                          <h5>Social Connects </h5>
                      </div>
                        <div class="footer-social">
                          <a href="#"><i class="fab fa-facebook-f"></i></a>
                          <a href="#"><i class="fab fa-twitter"></i></a>
                          <a href="#"><i class="fab fa-instagram"></i></a>
                          <a href="#"><i class="fab fa-google-plus-g"></i></a>
                      </div> -->
                      </div>
                  </div>
              </div>
          </div>
          <div class="copyright-wrap text-center">
              <div class="container">
                  <div class="row">
                      <div class="col-12">
                          <div class="copyright-text">
                              <p style="color:#ddd">&copy; 2022 @ CreditR  All design CreditR by <a href="https://www.linkedin.com/in/vikas-kushwaha-4071101b7/"> Vikas kushwaha.</a></p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </footer>
      <!-- footer-end -->