<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>blogpost</title>
</head>
<body>
    <div class="container">
        <!-- <form action="blogpostform" method="POST">
            {% csrf_token %} 
            <label for="blogtitile">blogtitile</label><br>
            <input type="text" id="blogtitile" name="blogtitile"><br><br>

            <label for="description">description</label><br>
            <input type="text" id="description" name="description"><br><br>

            <label for="image">Image</label><br>
            <input type="image" id="image" name="image"><br><br>

            <input class="btn btn--sm" type="submit" value="Submit">
                    <input class="btn btn--sm" type="reset" value="reset">
        

        </form> -->
        <form action="blog" method="POST">
            {% csrf_token %}
        {{form}}
       
    <input class="btn btn--sm" type="submit" value="Submit">
    <input class="btn btn--sm" type="reset" value="reset">

    </form>
    </div>
</body>
</html>