{% extends 'base.html' %}

{% block title %}
homepage
{% endblock title %}

{% block body %}

     <!-- contact-area -->
     <!-- <section id="parallax" class="slider-area slider-bg2 second-slider-bg  fix" style="background-image: url(static/img/bg/pink-header-bg.png); background-position:right 0; background-repeat: no-repeat; background-size: 65%;"> -->

     <section id="contact" class="contact-area contact-bg  pt-50 pb-100 p-relative fix"  style="background-image: url(img/shape/header-sape8.png); background-position: right center; background-size: auto;background-repeat: no-repeat;">
      <div class="container">
   
<div class="row">
  <div class="col-lg-6">
                  <div class="contact-img2">
                      <img src="static/img/bg/illustration.png" alt="test">
                  </div>						
  </div>
  <div class="col-lg-6">
                  <div class="section-title mb-40">                              
                      <h2>Get In Touch</h2>
                        <p>Contact us for any query.</p>
                  </div>
  <form action="contact" class="contact-form" method="POST">
                  {% csrf_token %}
    <div class="row">
                  <div class="col-lg-12">
                      <div class="contact-field p-relative c-name mb-20">                                    
                          <input type="text" placeholder="Name" id="name" name="name">
                      </div>                               
                  </div>
     <div class="col-lg-12">                    
                      <div class="contact-field p-relative c-email mb-20">                                    
                          <input type="text" placeholder="Email" id="email" name="email">
                      </div>                                
                  </div>
     <div class="col-lg-12">                      
                      <div class="contact-field p-relative c-subject mb-20">                                   
                          <input type="text" placeholder="Phone" id="phone" name="phone">
                      </div>
                  </div>
    
                  <div class="col-lg-12">
                      <div class="contact-field p-relative c-message mb-45">                                  
                          <textarea name="message" id="message" cols="10" rows="10" placeholder="Write comments"></textarea>
                      </div>
                      <button  class="btn" value="submit">Send Message</button>
                  </div>
                  </div>
              
          </form>
  </div>
</div>
          
      </div>
     
  </section>
  <!-- </section> -->
  <!-- contact-area-end -->
    {% endblock %}