<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            {% for pet in pets %}
          <h5 class="card-title">{{pet.petname}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{pet.petage}}</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
          {% endfor %}
        </div>
      </div>
    <h1>PET</h1>
    




</body>
</html>